.mainNavigation__link.__appTitle {
    font-family: "BentonSansBBVA-Light", Helvetica, Arial, sans-serif;
    border: none;
    text-transform: none;
    font-size: 33px;
    cursor: default;
    position: relative;
    padding-left: 4px;
}

.header__mainNavigation {
    width: auto !important;
    float: left;
    margin-left: 310px;
    margin-right: -100%;
    display: block;
}

.mainNavigation__link.__appTitle::before {
    content: "\00a0 ";
    background-color: #ffffff;
    height: 60%;
    margin-top: 5%;
    width: 2px;
    position: absolute;
    margin-left: -11px;
    left: 0px;
}


/*FORM LOGIN*/

.loginsec {
    width: 450px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: "BentonSansBBVA-Light", Helvetica, Arial, sans-serif;
}

.loginsec h3,
.loginsec h4,
.loginsec h5 {
    font-family: "BentonSansBBVA-Light", Helvetica, Arial, sans-serif;
    color: #000;
    text-align: center;
}

.jumbotron-bbva h3,
.jumbotron-bbva h4,
.jumbotron-bbva h5 {
    font-family: "BentonSansBBVA-Light", Helvetica, Arial, sans-serif;
    color: #000;
}

.jumbotron-bbva-small h3,
.jumbotron-bbva-small h4,
.jumbotron-bbva-small h5 {
    font-family: "BentonSansBBVA-Light", Helvetica, Arial, sans-serif;
    color: #FFF;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    border: transparent;
    font-family: inherit;
    height: 44px;
    padding: 1rem .75rem 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: .875rem;
    line-height: 1.25;
    color: #464a4c;
    border-style: none none solid;
    border-image: initial;
    border-bottom: 1px solid #666;
    background: rgb(244, 244, 244);
    color: rgb(18, 18, 18);
    background-clip: padding-box;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.placeholder-wrapper .placeholder-simulator {
    color: #666;
    font-size: 12px;
    padding: 0 12px;
    position: absolute;
    top: 20px;
    transition: all .25s ease;
}

.placeholder-wrapper {
    position: relative;
}

.actionsection {
    height: 100px;
}

.fpass {
    font-family: "BentonSansBBVA-Bold", Helvetica, Arial, sans-serif;
    width: 225px;
    float: left;
    line-height: 52px;
}

.submtbtn {
    float: right;
}

.form-group.iconizer {
    position: relative;
}

.form-group.iconizer .bbva-icon {
    position: absolute;
    right: 0px;
    top: 29%;
    z-index: 5;
    cursor: pointer;
}

.form-group.iconizer .bbva-icon:hover {
    color: #2a86ca;
}

.form-group-info {
    margin-bottom: 7px;
}

.form-group-info .isec {
    width: 10%;
    display: inline-block;
    vertical-align: top;
    padding: 2px;
}

.bbva-icon.blue1 {
    color: #5BBEFF;
}

.bbva-icon.error {
    color: #D44B50;
}

.bbva-icon.bigicon {
    font-size: 40px;
}

.form-group-info .itextsec {
    width: 85%;
    display: inline-block;
    text-align: justify;
    font-size: 12px;
}

.form-group-meter {
    margin-top: 5px;
    margin-bottom: 12px;
}

.form-group-meter .meter-wrapper {
    background-color: #D8D8D8;
    width: 90%;
    display: inline-block;
    margin-left: 12px;
}

.form-group-meter .bbva-icon {
    width: 10px;
    display: inline-block;
}

.meter-bar {
    left: -.5em;
}

.meter-bar {
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    will-change: transform;
}

.meter-bar {
    height: 5px;
    background: #2A86CA;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    position: relative;
}

.form-group-meter p {
    font-size: 12px;
}


/*ERROR INPUT*/

.form-validation-group.haserror .form-control {
    background: #FCDFDF;
    border-bottom: 1px solid #D44B50;
}

.form-validation-group.haserror .placeholder-simulator {
    color: #D44B50;
}


/*DROP DOWN LIST*/

.form-group-select ul {
    background: #F4F4F4;
    position: absolute;
    width: 100%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    z-index: 7;
}

.form-group-select .option-select {
    position: relative;
}

.form-group-select .option-select .select-title {
    background: #F4F4F4;
    height: 60px;
    padding-left: 12px;
    padding-top: 4px;
    position: relative;
    border-bottom: 1px solid #666;
}

.form-group-select.white ul {
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.form-group-select.white .option-select .select-title {
    background: #fff;
    border-bottom: 1px solid #666;
}

.form-group-select .option-select .select-title .option-text,
.form-group-select .option-select .select-title .selected-option {
    display: block;
}

.form-group-select .option-select .select-title .option-text {
    font-size: 12px;
}

.form-group-select .option-select .select-title .selected-option {
    font-size: 16px;
}

.form-group-select .option-select .select-title .bbva-icon {
    top: 30%;
    right: 0px;
    position: absolute;
    font-size: 44px;
    color: #2A86CA;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 0.5);
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 0.5);
}

.form-group-select li {
    line-height: 3.5;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 9;
    font-family: 'BentonSansBBVA-Book';
    font-weight: 400;
    font-size: 1rem;
    color: #666;
    letter-spacing: -0.19px;
    text-align: left;
    border-top: 1px solid #E5E5E5;
    padding-left: 0.625rem;
    -webkit-flex: 1;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.form-group-select li:hover {
    background: #e9e9e9;
}


/*MODAL*/

.outer {
    display: table;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.modal-message {
    /*background: rgba(7, 33, 70, 0.84);*/
    background: rgba(54, 54, 54, 0.85);
    z-index: 10;
}

.modal-message .inner {
    background: #ffffff;
    box-shadow: 3px 3px 13px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
}

.modal-message .icon-area {
    padding: 46px 0px;
    color: #ffffff;
}

.modal-message.success .icon-area {
    background: #86c82d;
}

.modal-message.error .icon-area {
    background: #C8175E;
}

.modal-message.warning .icon-area {
    background: #F6891E;
}

.modal-message.success .bbva-icon_message:before {
    content: "\ea58";
}

.modal-message.error .bbva-icon_message:before {
    content: "\ea59";
}

.modal-message.warning .bbva-icon_message:before {
    content: "\eaa2";
}

.modal-message .icon-area i {
    font-size: 47px;
}

.modal-message p {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 16px;
}

.modal-message p.tit {
    font-size: 18px;
    font-family: "BentonSansBBVA-Bold", Helvetica, Arial, sans-serif;
}

.modal-message.success p.tit:before {
    content: "Correcto!";
}

.modal-message.error p.tit:before {
    content: "Error";
}

.modal-message.warning p.tit:before {
    content: "Aviso!";
}

.modal-message .btn-area {
    padding-bottom: 15px;
}

.jumbotron__image {
    width: 8%;
    display: inline;
}

@media(min-width:0) and (max-width:991px) {
    .jumbotron__image {
        width: 15%;
        max-width: 15%;
    }
}

.jumbotron-bbva {
    margin-bottom: 2rem;
    background-color: #f4f4f4;
    border-radius: .3rem;
    padding: 1rem 2rem;
}

.jumbotron-bbva-small {
    margin-bottom: 2rem;
    background-color: #043263;
    padding: 1rem 2rem;
}

@media (min-width: 576px) {
    .jumbotron-bbva {
        padding: 1rem 2rem;
    }
}

@media (min-width: 576px) {
    .jumbotron-bbva-small {
        padding: 1rem 2rem;
    }
}

.table-striped tbody tr:nth-of-type(2n) {
    background: rgba(212, 237, 252, 0.40);
}

.table td,
.table th {
    padding: 1rem;
    vertical-align: top;
}

@media (min-width: 576px) {
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

.href-disabled {
    color: #fff;
    opacity: 0.5;
    text-decoration: 'none';
}


/* Fix width to 95%*/

.fixW95 {
    width: 95% !important;
}

.panel-bbva {
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    background-color: #f5f5f5;
}

.panel-default-bbva {
    border-color: #ddd;
}

.panel-body-bbva {
    padding: 10px 15px;
    color: #333;
    border-color: #ddd
}

.flex-img {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.marginleft-2 {
    margin-left: 2rem;
}

.d-flex-bbva {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.justify-content-around-bbva {
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
}

.justify-content-between-bbva {
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

@media(min-width:0) and (max-width:660px) {
    .img-u31 {
        width: auto;
        min-width: 10%;
    }
}

.img-u31 {
    width: auto;
    max-width: 5% !important;
}

@media(min-width:0) and (max-width:660px) {
    .img-u38 {
        width: auto;
        min-width: 4%;
    }
}

.img-u38 {
    width: auto;
    max-width: 2% !important;
}

.col-md-3-bbva {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
}

.col-md-4-bbva {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
}